agent.auto.register.key={{ gocd_agent.auto_register.key }}
agent.auto.register.resources={{ gocd_agent.auto_register.resources }}
agent.auto.register.environments={{ gocd_agent.auto_register.environments }}
agent.auto.register.hostname={{ gocd_agent.auto_register.hostname | default(ansible_hostname) }}
