# {{ ansible_managed }}
export GO_SERVER={{ sansible_gocd_agent_server }}
export GO_SERVER_PORT={{ sansible_gocd_agent_port }}
{% if sansible_gocd_agent_start_opts is not none %}
export GO_AGENT_SYSTEM_PROPERTIES="{{ sansible_gocd_agent_start_opts }}"
{% endif %}
export AGENT_WORK_DIR={{ sansible_gocd_agent_user_dir }}/work/${SERVICE_NAME}
export AGENT_MEM={{ sansible_gocd_agent_mem }}
export AGENT_MAX_MEM={{ sansible_gocd_agent_max_mem }}

DAEMON=Y
VNC=N

export GOPATH=/home/{{ sansible_gocd_agent_user }}/go
export PATH=$GOPATH/bin:$PATH
export PATH=$PATH:/usr/local/go/bin
