# {{ ansible_managed }}
export GO_SERVER={{ gocd_agent.server }}
export GO_SERVER_PORT={{ gocd_agent.port }}
export JAVA_HOME={{ gocd_agent.java_home }}
export AGENT_WORK_DIR={{ gocd_agent.user_dir }}/work/${SERVICE_NAME}
export AGENT_MEM={{ gocd_agent.agent_mem }}
export AGENT_MAX_MEM={{ gocd_agent.agent_max_mem }}

DAEMON=Y
VNC=N

##
# ensures ssh-agent is running
#
if [[ $USER == "{{ gocd_agent.user }}" ]];
then
	if [ -z "$SSH_AUTH_SOCK" ]; then
		eval `ssh-agent -s`
		ssh-add
	fi
fi

export GOPATH=/home/go/go
export PATH=$GOPATH/bin:$PATH
export PATH=$PATH:/usr/local/go/bin
